@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Light";
	src: url("../fonts/roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: "Roboto-LightItalic";
	src: url("../fonts/roboto/Roboto-LightItalic.ttf");
}
@font-face {
	font-family: "Oswald-Bold";
	src: url("../fonts/oswald/Oswald-Bold.ttf");
}
@font-face {
	font-family: "Oswald-Regular";
	src: url("../fonts/oswald/Oswald-Regular.ttf");
}
@font-face {
	font-family: "Oswald-Light";
	src: url("../fonts/oswald/Oswald-Light.ttf");
}

