/**
 * Place your custom styles here.
 */
@import url("font.css");

body {
	font-family: "Roboto-Regular";
	font-size: 16px;
	background: #eee;
	color: #5b5b5b;
}
a {
	color: #FF5733;
}
a:hover,a:focus {
	color: #7b7b7b;
}
ol, ul {
    margin-top: 10px;
}
img {
	max-width: 100%;
}
.h1, .h2, .h3, h1, h2, h3 {
   margin-bottom: 10px;
   margin-top: 0; 
}
.h1, h1 {
    font-size: 30px;
}
.h2, h2 {
    font-size: 20px;
}
header {
	margin-bottom: 15px;
	background: #fff;
	/*border-radius: 6px;*/
}
.disp-in {
	display: inline-block;
	vertical-align: middle;
}

/* Site Info */
.site-info-wrap {
	float: left;
}
.user-logged-in .site-info-wrap {
	float: none;
}
.site-info {
	margin: 10px 0;
	color: #FF5733;
}
.site-info a {
	text-decoration: none;
	color: #FF5733;
}
.site-info .name {
	font-family: "Oswald-Bold";
	font-size: 30px;
	text-transform: uppercase;
}
.site-info .slogan {
	font-family: "Roboto-LightItalic";
	font-size: 13px;
	padding: 10px 5px 0;
}

/* Menu */
.mob-nav.navbar-default {
	background: #fff;
}
.mob-nav .navbar-toggle {
	float: left;
	background: #fff;
}

/* Primary Menu */
#block-blogz-main-menu {
	white-space: nowrap;
	overflow-x: auto;
}
.menu.nav {
	margin: 0;
}
.menu.nav li {
	display: inline-block;
}
.menu.nav li a {
	padding: 12px 10px;
	background: initial;
}
.pri-nav .navbar {
	min-height: 0;
	border-radius: 0;
}
.pri-nav .navbar-collapse {
	border: none;
	padding-left: 0;
	padding-right: 0;
}
.pri-nav .navbar-default {
	background: #FF5733;
}
.pri-nav .navbar-default li a {
	color: #fff;
}
.pri-nav .navbar-default li a:hover {
	color: #fff;
	background: #7b7b7b;
}
.pri-nav .navbar-default li:before {
	content: "|";
	position: absolute;
	top: 10px;
	color: #fff;
	margin-left: -3px;
}
.pri-nav .navbar-default li.active:before, .pri-nav .navbar-default li:first-child:before {
	content: "";
}
.pri-nav .navbar-default li.active > a, 
.pri-nav .navbar-default li.active > a:focus, 
.pri-nav .navbar-default li.active > a:hover {
    color: #ff5733;
    background-color: #fff;
}

/* Secondary Menu */
.sec-nav {
	float: right;
	text-transform: uppercase;
	margin: 10px 0 10px;
	font-size: 12px;
}
.user-logged-in .sec-nav {
	float: none;
}
.sec-nav .menu.nav li {
	background: #FF5733;
	margin: 5px;
}
.sec-nav .menu.nav li a {
	padding: 6px 10px;
	color: #fff;
}
/* User Profile Image */
.hdr-wrp {
	position: relative;
}
.usr-prf-img {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 6px;
	right: 0;
}
.usr-prf-img img {
	border-radius: 50%; 
}
/* Content */
.main-container .page-header {
	padding-bottom: 0;
	border-bottom: none;
}
.main-container {
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Comments */
section[rel='schema:comment'] h2 {
	border-bottom: 1px solid #5b5b5b;
}
article.js-comment {
	background: #eee;
	padding: 10px;
	margin-bottom: 10px;
}

/* Node Page */
.path-node .author {
	margin-bottom: 10px;
}
.content {
	text-align: justify;
}
.content .field {
	margin-bottom: 15px;
}

/* Sidebars */
.sidebar {
	margin-top: 15px;
}
.sidebar .menu.nav li {
	margin-top: 15px;
}
.sidebar .block-title {
	border-bottom: 1px solid #5b5b5b;
}
.sidebar .view .item-list ul {
	padding: 0;
	list-style: none;
}
.sidebar .view .item-list ul li {
	margin-bottom: 5px;
}
.sidebar .view .views-field-title {
    font-size: 16px;
    margin-bottom: 0px;
}
.sidebar .view .views-field-changed {
	font-size: 12px;
	font-style: italic;
}

/* Sidebar Menu */
.sidebar .menu.nav {
	margin-bottom: 10px;
}
.sidebar .menu.nav li {
	display: inline;
}
.sidebar .menu.nav li a {
	padding: 0;
}

/* Form Page */
.label {
	color: #5b5b5b;
}
.form-item {
	margin-bottom: 15px;
}
.text-format-wrapper.form-item { /* Remove the margin in text editor */
	margin-bottom: 0;
}
#edit-actions--2 {
	margin-top: 40px;
}
/* Buttons */
.btn-primary {
	background: #FF5733;
	border: none;
}
.btn-primary:hover {
	background: #7b7b7b;
}
/* Links */

/*ul.links li {
	background: #FF5733;
	padding: 5px 8px;
	margin-right: 5px;
}
ul.links a {
	color: #fff;
}
ul.links li:hover {
	background: #fff;
	padding: 5px 8px;
	border: 1px solid #FF5733;
}
ul.links li:hover a {
	color: #FF5733;
}*/
ul.list-inline {
	margin-left: 0;
}
/* View */
.view .views-field-title {
	font-size: 24px;
	margin-bottom: 10px;
}
.views-field p {
	text-align: justify;
}
.view .views-row {
	border-bottom: 1px solid #5b5b5b;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.view .views-row:last-child {
	border-bottom: none;
	padding-bottom: 15px;
	margin-bottom: 0;
}

/* Footer */
.footer {
    margin-top: 20px;
    padding: 20px;
    border-top: 0;
    color: #fff;
    background: #4c4c4c;
}
.footer a {
	color: #fff;
}
.footer .menu.nav li {
	display: inline;
}
.footer .menu.nav li a {
	padding: 0 0 5px;
}

/* Admin Control */
/* Primary Tab Navigation*/
ul.tabs--primary {
	margin-bottom: 15px;
}

/* Responsive */
@media only screen and (min-width: 480px) {
	.site-info-wrap {
		float: left;
	}
	.sec-nav {
		float: right;
	}
	.user-logged-in .site-info-wrap {
		float: left;
	} 
	.user-logged-in .sec-nav {
		float: right;
	}
	#edit-actions--2 {
		margin-top: 0;
	}
	.usr-prf-img {
		position: static;
		display: inline-block;
		vertical-align: top;
	}
	.usr-prf-menu {
		display: inline-block;
	}
}
@media only screen and (min-width: 768px) {
	.pri-nav .navbar.container {
	    max-width: 1200px;
	}
	.sidebar {
		margin-top: 0;
	}
}


